body {
  font-family: "Trebuchet MS", sans-serif;
  color: #303030;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.title {
  font-size: 26px;
  line-height: normal;
}

.description {
  line-height: calc(19 / 16);
}

input {
  padding: 0;
  border: none;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  max-width: 320px;
}

/* STYLE OF HERO  */
.hero {
  margin-bottom: 53px;
}

.hero-container {
  background-image: url("../images/img-hero.png"),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8) 15%,
      rgba(87, 154, 255, 0.4) 40%,
      rgba(87, 77, 204, 0.5) 65%,
      rgba(255, 255, 255, 0.5)
    );
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
}

.hero-title {
  margin-bottom: 20px;

  line-height: calc(28 / 24);

  text-align: center;
}

.hero-description {
  margin-bottom: 223px;

  text-align: center;
}

.hero-message {
  position: relative;

  padding: 8px;
  margin-bottom: 96.87px;
  margin-right: auto;
  margin-left: auto;

  max-width: 92px;

  font-size: 7.8px;
  line-height: normal;

  color: #fff;
  border-radius: 9.8px;
  background-image: linear-gradient(90deg, #574dcc 0%, #579aff 92.27%);
}

.hero-message::before {
  content: " ";
  position: absolute;

  top: -13px;
  right: 27px;

  display: block;
  width: 0;
  height: 0;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 13px solid #574dcc;
}

.hero-button {
  padding: 17px 72px;

  min-width: 280px;

  font-size: 20px;
  font-weight: 700;
  line-height: calc(26 / 20);

  color: #fff;

  border-radius: 10px;
  background-image: linear-gradient(90deg, #574dcc 0%, #579aff 100%);
  box-shadow: 0px 20px 30px 0px rgba(88, 79, 205, 0.2);
}

/* STYLE OF FORM  */
.form .title {
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;

  max-width: 248px;
}

.form-description {
  margin-bottom: 41px;
  margin-right: auto;
  margin-left: auto;

  max-width: 247px;
}

.section-form {
  padding: 31px 36.5px;

  border-radius: 17.4px;
  background-color: #fff;

   box-shadow:0px 5.797px 23.188px rgba(0, 0, 0, 0.10);
}

.label-wrapper-sex {
  margin-bottom: 21.45px;
}

.label-sex {
  margin-bottom: 7px;

  display: block;

  font-size: 12px;
  line-height: normal;
}

.wrapper-sex {
  display: flex;
  justify-content: space-between;
}

.sex-input {
  width: 102.6px;
  height: 34.8px;

  font-size: 12px;

  background-color: #f5f7f9;
}

.sex-input.male {
  padding-left: 37.7px;

  border-radius: 5.797px 0px 0px 5.797px;
  box-shadow: 0px 0px 5.797px 0px rgba(0, 0, 0, 0.02) inset;
}

.sex-input.female {
  padding-left: 32px;

  border-radius: 0px 5.797px 5.797px 0px;
  box-shadow: 0px 0px 5.797px 0px rgba(0, 0, 0, 0.02) inset;
}

.sex-input::placeholder {
  font-size: 12px;
  line-height: normal;

  color: #8789a1;
}

.label-name {
  margin-bottom: 21.45px;

  display: block;
}

.sex-input.name,
.sex-input.born {
  padding-left: 11.6px;

  width: 100%;
  border-radius: 5.797px;
  box-shadow: 0px 0px 5.797px 0px rgba(38, 31, 123, 0.05) inset;
}

.sex-input.name::placeholder {
  text-align: start;
}

.label-born {
  margin-bottom: 18px;

  display: block;
}

.label-policy {
  margin-bottom: 21px;

  display: flex;
  align-items: flex-start;
  gap: 13.4px;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;

  margin-top: 2.9px;

  width: 17.4px;
  height: 17.4px;

  border-radius: 2.9px;
  background-color: rgba(245, 247, 249, 1);
}

.checkbox:checked {
  background-image: url("../images/full-check.svg"),
    linear-gradient(90deg, #574dcc 0%, #579aff 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
}

.policy {
  max-width: 162.9px;

  font-size: 10px;
  line-height: normal;

  color: #8789a1;
  user-select: none;
}

.form-button {
  padding: 11.3px 53px;
  margin-bottom: 42.46px;

  min-width: 207px;

  font-size: 14px;
  font-weight: 700;
  line-height: calc(16.2 / 14);

  color: #fff;
  border-radius: 5.797px;
  background: linear-gradient(90deg, #574dcc 0%, #579aff 100%);
  box-shadow: 0px 11.594px 17.391px 0px rgba(88, 81, 207, 0.2);
}

.form-element {
  display: flex;
  justify-content: center;
  gap: 5.8px;
}

.form-element::before{
  content: " ";

  width: 17.4px;
  height: 2.9px;

  border-radius: 2.99px;
  background-color: #5893fa;
} 

.form-element::after {
  content: " ";

  width: 17.4px;
  height: 2.9px;

  border-radius: 2.9px;
  background-color: rgba(88, 147, 250, 0.2);
}
