body {
  font-family: "Trebuchet MS", sans-serif;
  color: #303030;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  max-width: 320px;
}

/* STYLE OF HERO  */
.hero{
  margin-bottom: 53px;
}

.hero-container {
  background-image: url("../images/img-hero.png"),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8) 15%,
      rgba(87, 154, 255, 0.4) 40%,
      rgba(87, 77, 204, 0.5) 65%,
      rgba(255, 255, 255, 0.5)
    );
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
}

.hero-title {
  margin-bottom: 20px;

  line-height: calc(28 / 24);

  text-align: center;
}

.hero-description {
  margin-bottom: 223px;

  line-height: calc(19 / 16);

  text-align: center;
}

.hero-message {
  position: relative;

  padding: 8px;
  margin-bottom: 96.87px;
  margin-right: auto;
  margin-left: auto;

  max-width: 92px;

  font-size: 7.8px;
  line-height: normal;

  color: #fff;
  border-radius: 9.8px;
  background-image: linear-gradient(90deg, #574dcc 0%, #579aff 92.27%);
}

.hero-message::before {
  content: " ";
  position: absolute;

  top: -13px;
  right: 27px;

  display: block;
  width: 0;
  height: 0;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 13px solid #574dcc;
}

.hero-button {
  padding: 17px 72px;

  min-width: 280px;

  font-size: 20px;
  font-weight: 700;
  line-height: calc(26 / 20);

  color: #fff;

  border-radius: 10px;
  background: linear-gradient(90deg, #574dcc 0%, #579aff 100%);
  box-shadow: 0px 20px 30px 0px rgba(88, 79, 205, 0.2);
}
